{% assign t = site.data.translations[page.lang] %}

<div class="container">
  <h1>Bienvenue </h1>

  <p><span class="text-bold">SPHER</span> est la première plateforme suisse de mise en relation pour entrepreneurs. Au sein de la communauté, tu pourras évaluer tes idées en recueillant des feedbacks et conseils pour ton projet, collaborer sur d’autres idées si tu possèdes les compétences requises et surtout, trouver les profils idéaux pour concrétiser ta start-up!</p>

  <p>De plus, une équipe de jeunes experts sera à ta disposition pour te coacher et t accompagner dans les premières étapes de l’aventure! Alors inscris-toi maintenant, rejoins la communauté et… <span class="text-bold">START NOW !</span></p>
</div>
